<div>
	<form>
		<div>
			<label>Vrsta</label>
			<input type="text" name="species" [(ngModel)]="newAnimal.Species" />
		</div>
		<div>
			<label>Ime</label>
			<input type="text" name="name" [(ngModel)]="newAnimal.Name" />
		</div>
		<div>
			<label>Datum Rodjenja</label>
			<input type="text" name="dateOfBirth" [(ngModel)]="newAnimal.DateOfBirth" />
		</div>
		<div>
			<label>Sektor</label>
			<select [(ngModel)]="newAnimal.Sector" name="sector" >
			  <option *ngFor="let s of sectors" [ngValue]="s">{{s.Name}}</option>
			</select>
		</div>
		<div>
			<button (click)="addAnimal(newAnimal)" type="button">Dodaj zivotinju</button>
		</div>
	</form>

	<h2>Zivotinje</h2>

	<table>
		<tr>
	    	<th>Vrsta</th>
	    	<th>Ime</th>
	    	<th>Datum rodjenja</th>
	    	<th>Sektor</th>
	    	<th></th>
	  	</tr>
	  	<tr *ngFor="let animal of animals">
	    	<td>{{ animal.Species }}</td>
	    	<td>{{ animal.Name }}</td>
	    	<td>
	    		<span *ngIf="animal.DateOfBirth">{{ animal.DateOfBirth }}</span>
	    		<span *ngIf="!animal.DateOfBirth">Nepoznato</span>
	    	</td>
	    	<td>{{ animal.Sector ? animal.Sector.Name : "Nije postavljen" }}</td>
	    	<td>
	    		<button (click)="removeAnimal(animal)">Ukloni</button>
	    		<button (click)="moveToTop(animal)">Pomeri na vrh</button>
	    	</td>
	  	</tr>
	</table>

	<h2>Sektori</h2>

	<table>
		<tr>
	    	<th>Naziv</th>
	    	<th>Povrsina</th>
	    	<th></th>
	  	</tr>
	  	<tr *ngFor="let sector of sectors">
	    	<td>{{ sector.Name }}</td>
	    	<td>{{ sector.Surface }}</td>
	    	<td>
	    		<button (click)="checkSectorAnimals(sector)">Pogledaj listu zivotinja</button>
	    	</td>
	  	</tr>
	</table>
</div>
